// common settings
$fontSize: 15px;
$lineHeight: 1;
$transition: .2s ease-in-out;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
$fontMain: 'Montserrat', sans-serif, arial;

// colors
$mainColor: #101010;
$red: #FE0000;
$darkred: #D30000;
$gary: #8A8A8A;

// Settings
$desktop-xl: 1280;
$desktop: 1200;
$laptop: 992;
$tablet: 768;
$mobile-hr: 576;
$mobile: 320;
$desktop-vh: 750;
