// common settings
$fontsize: 1.7rem;
$lineHeight: 1;


// fonts
// $font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell,"Open Sans","Helvetica Neue", sans-serif;
$font-family-Mulish: 'Mulish', sans-serif, arial;
$font-Montserrat: 'Montserrat';


// colors
$color-black: #101010;
$color-white: #FFF;
$color-red: #FE0000;
$color-gray-1: #8A8A8A;
$color-gray-2: #C1BCB8;
$color-gray-3: #E2DDD9;
$color-gray-4: #F2EFEC;


// font color
$color: $color-black;



// Settings
$desktop-xl: 1280;
$desktop: 1200;
$laptop: 992;
$tablet: 768;
$mobile-hr: 576;
$mobile: 320;
$desktop-vh: 750;
