.container
	section.partners    
		.partners__top 
			h3.partners__top__tab.active(id="partner_tab_id_1") Торговым точкам
			h3.partners__top__tab(id="partner_tab_id_2")  Комплектация строительных объектов
			h3.partners__top__tab(id="partner_tab_id_3") Архитектурным и дизайнерским бюро
	
.container.partners__top__block__container
	.partners__top__block.active(id="partner_block_id_1")
		.partners__top__block__left
			.breadcrumbs
				.breadcrumbs__item
					a.breadcrumbs__link.main__breadcrumbs__link(href="#") Главная
				.breadcrumbs__item
					a.breadcrumbs__link.prop_breadcrumbs(href="#") &nbsp;— Каталог 
			h1 Торговым точкам
			p В частности, начало повседневной работы по формированию позиции способствует подготовке и реализации стандартных подходов. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора.
			.partners__top__block__left__bottom 
				a(href="#partners_form").red_button Заявка о сотрудничестве
				a(href="") Скачать прайс лист 
					span
						img(src='img/load.svg')
		.partners__top__block__right
			img(src='img/saller_points.png')
		.partners__top__block__right--mob
			img(src='img/saller_points_mob.png')
.container.partners__top__block__container
	.partners__top__block(id="partner_block_id_2")
		.partners__top__block__left
			.breadcrumbs
				.breadcrumbs__item
					a.breadcrumbs__link.main__breadcrumbs__link(href="#") Главная
				.breadcrumbs__item
					a.breadcrumbs__link.prop_breadcrumbs(href="#") &nbsp;— Каталог 
			h1  Комплектация строительных объектов
			p В частности, начало повседневной работы по формированию позиции способствует подготовке и реализации стандартных подходов. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора.
			.partners__top__block__left__bottom 
				a(href="#partners_form").red_button Заявка о сотрудничестве
				a(href="") Скачать прайс лист 
					span
						img(src='img/load.svg')
		.partners__top__block__right
			img(src='img/complectation.png')
		.partners__top__block__right--mob
			img(src='img/complectation_mob.png')
.container.partners__top__block__container
	.partners__top__block(id="partner_block_id_3")
		.partners__top__block__left
			.breadcrumbs
				.breadcrumbs__item
					a.breadcrumbs__link.main__breadcrumbs__link(href="#") Главная
				.breadcrumbs__item
					a.breadcrumbs__link.prop_breadcrumbs(href="#") &nbsp;— Каталог 
			h1 Архитектурным и дизайнерским бюро
			p В частности, начало повседневной работы по формированию позиции способствует подготовке и реализации стандартных подходов. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора.
			.partners__top__block__left__bottom 
				a(href="#partners_form").red_button Заявка о сотрудничестве
				a(href="") Скачать прайс лист 
					span
						img(src='img/load.svg')
		.partners__top__block__right
			img(src='img/arhitecture.png')
		.partners__top__block__right--mob
			img(src='img/arhitecture_mob.png')
.container
	section.partners__advantages
	h2.partners__advantages_title Партнерство с нами удобно и выгодно
	p.partners__advantages__text В частности, начало повседневной работы по формированию позиции способствует подготовке и реализации стандартных подходов. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора.
	.partners__advantages__block 
		.partners__advantages__block__item 
			.partners__advantages__block__item__top 
				img(src='img/adv_icon_01.png')
				h5.partners__advantages__block__item__top__title Доставка по всей России
			p Принимая во внимание показатели успешности, укрепление
		.partners__advantages__block__item 
			.partners__advantages__block__item__top 
				img(src='img/adv_icon_02.png')
				h5.partners__advantages__block__item__top__title Качественный и удобный сервис
			p В частности, начало повседневной работы по формированию позиции способствует подготовке.
		.partners__advantages__block__item 
			.partners__advantages__block__item__top 
				img(src='img/adv_icon_03.png')
				h5.partners__advantages__block__item__top__title Оперативное выставление счета
			p Принимая во внимание показатели успешности, укрепление
	.partners__advantages__content
		h4 В частности, начало повседневной работы по формированию позиции способствует подготовке и реализации стандартных подходов. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора.

.container.partners__form__container
	section.partners__form
		h2.partners__form__title Заявка о сотрудничестве
		.partners__form__text Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора, кроме определения укрепления моральных ценностей. 
		form(metod="post")
			.partners__form__block
				input(type="text" placeholder="ФИО")
				input(type="text" placeholder="Название компании")
				input(type="text" placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")
				input(type="text" placeholder="E-mail")
				input(type="text" placeholder="Тема сотрудничества")
				input(type="file" placeholder="1 файл .pdf, .docx, .doc не более 5 Мб")
			.partners__form__bottom
				input(type="text" placeholder="Комментарий")
			
			.styled_checkbox_block
				input(type='checkbox' id='add-to-order2' name='add-to-order2').hidden
				label(for='add-to-order2') 
					span.styled_checkbox
				p Я даю согласие на обработку своих персональных данных
			.partners__form__button.red_button Отправить

.container
	section.map_section
		.map_block
			h2 География наших партнеров
			.map_block__left
				#map.map
					.map-tooltip(data-id="")


.container 
	section.partners__requisites
		h2 Реквизиты компании
		.partners__requisites__block 
			ul
				li
					span Наименование
					span ИП Слепуха Сергей Алексеевич
				li
					span Адрес
					span 353560, РФ, Краснодарский край, г. Славянск-на-Кубани, ул. Школьная, 204-а
				li
					span  ИНН
					span  234900991148
				li
					span  ОГРН
					span  304234914800822
				li
					span  ОКПО
					span  68757306
				li
					span  Банк
					span  ОАО «ЮГ-ИНВЕСТБАНК» г. Краснодар
				li
					span  Расчётный счёт
					span  40802810800870000425
				li
					span  БИК
					span  040349966
				li
					span  Кор. счёт
					span  30101810600000000966

