.container
    section.partners    
        .container.partners_container 
            
    section.map_section
        .map_block
            h2 География наших партнеров
            .map_block--right 
                section#map.map
                    .map-tooltip(data-id="")

             

