.catalog_button {
    background-color: #FE0000;
    width: 149;
    height: 52;
    border-radius: 4px;
	align-content: center;
}
.catalog_button:hover {
    background-color: #D30000;
}
.catalog_button_disabled {
    background-color: #FFA3A3;
}
.catalog_item_button {
    width: 149;
    border-radius: 4px;
    padding: 10.5px 0px;
    text-align: center;
    align-content: center;
    @media (max-width: 768px) {
        width: 105;
    }
}
.red_button {
    color: #fff;
    background-color: #FE0000;
    border-radius: 4px;
	align-content: center;
    cursor: pointer;
}
.red_button:hover {
    background-color: #D30000;
    color: #fff;
}
.red_button a{
    color: #fff;
}
.gray_button {
    background-color: #F2EFEC;
    border-radius: 4px;
	align-content: center;
    cursor: pointer;
    flex-shrink: 0;
}
.gray_button:hover {
    background-color: #E2DDD9;
}
.modal_button {
    padding: 16px 36px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    align-content: center;
    background-color: #FE0000;
    transition: .3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        padding: 16px 20px;
    }
}
.modal_button:hover {
    background-color: #D30000;
}
