.catalog_filter {
  width: 20%;
  @media (max-width:768px) {
    width: 100%;
}
}
.filter {
  padding: 0px;
  font-family: sans-serif;
  display: block;
  position: relative;
  background-color: #fff;
  @media (max-width:768px) {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
    overflow-y: scroll;
  }
  .top_tltle {
    display: none;
    @media (max-width:768px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0px;
        margin-bottom: 0px;
        position: relative;
        & .modal_close {
          right: 10px;
        }
    }
  }
  .hidden {
    display: none;
  }

  .filter_section {
    margin-bottom: 20px;
    @media (max-width:768px) {
      width: 100%;    
    }

    h5 {
      margin-bottom: 10px;
      font-size: 16px;
    }

    label {
      display: flex;
      align-items: center;
	  gap: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      font-size: 14px;

      .filter-checkmark {
        width: 18px;
		height: 18px;
		border: 1px solid #C1BCB8;
		border-radius: 4px;
		margin-right: 10px;
		position: relative;
        flex-shrink: 0;
      }

      .filter-swatch {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid #333; 
        flex-shrink: 0;
      }

      .filter-name {
        // flex: 1;
      }

      .filter-count {
        color: #999;
      }
    }





    input[type="checkbox"]:checked + label {
	.filter-checkmark {
		background-color: #f00;
		border: 1px solid #f00;

	}
	.filter-checkmark::after{
      content: '✔';
      position: absolute;
      left: 2px;
      top: -2px;
      color: #fff; 
      font-size: 14px;
    }
	}

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: 150px;
      overflow: hidden;
      transition: max-height 0.3s;

      &.expanded {
        max-height: none;
      }
    }
  }

  .filter_special label {
	justify-content: space-between;
    .checkmark {
      border-radius: 50%;
	  
    }
  }

  .price {
    .price-inputs { 	
      display: flex;
      align-items: center;
	  justify-content: space-between;
      margin-bottom: 20px;

      input {
		border: 1px solid #E2DDD9;
		width: 105px;
		padding: 5px;
		margin: 0px;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
      }
	  	
      span {
        color: #999;
      }
    }

    .slider-container {
      position: relative;
      height: 1px;
      background: #333;
      border-radius: 5px;

      .progress {
        position: absolute;
        height: 100%;
		// background-color: red;
        left: 0%; // Updated by JS
        right: 0%; // Updated by JS
      }
	  input[type=number]::-webkit-inner-spin-button,
	  input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	  }
      input[type="range"] {
        position: absolute;
		width: 100%;
		height: 1px;
		-webkit-appearance: none;
		background: #99999900;
		z-index: 4;
		top: 5px;
		border: 1px solid #dddddd00;
		margin: 0;
		padding: 0px;
		border: none;
		pointer-events: none;
		
        &::-webkit-slider-thumb {
          pointer-events: all;
          -webkit-appearance: none;
          width: 15px;
          height: 15px;
          background: #010101;
          border-radius: 50%;
          cursor: pointer;
          top: -5px;
          position: relative;
        }
		&::-moz-range-thumb {
			width: 25px;
			height: 25px;
			background: #4CAF50;
			cursor: pointer;
			border-radius: 50%; /* Круглый */
		  }
      }

    }
  }
  input[type="range"]::-webkit-inner-spin-button,
  input[type="range"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


  .show-more {
    background: none;
    border: none;
    color: #f00; // Red as in screenshot
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    margin-top: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  button.clear {
	width: 100%;
	padding: 16px;
    display: block;
    margin: 20px auto 0;
  }
}

.in-stock_radio {
	background-color: #E2DDD9;
	width: 43px;
	height: 24px;
	border-radius: 14px;
	align-content: center;
	padding: 0px 3px;
	& span {
		box-shadow: 0px 0px 5px 0px #00000033;
		background-color: #fff;
		width: 18px;
		height: 18px;
		border-radius: 18px;
		display: block;
		transition: .3s ease-in-out;
	}
}
.filter_special input[type="checkbox"]:checked + label .in-stock_radio span{
	margin-left: 20px;
	background-color: #f00;
	border: solid 1px #fff;
}
.bestsellers_radio {
	background-color: #E2DDD9;
	width: 43px;
	height: 24px;
	border-radius: 14px;
	align-content: center;
	padding: 0px 3px;
	& span {
		box-shadow: 0px 0px 5px 0px #00000033;
		background-color: #fff;
		width: 18px;
		height: 18px;
		border-radius: 18px;
		display: block;
		transition: .3s ease-in-out;
	}
}
.filter_special input[type="checkbox"]:checked + label .bestsellers_radio span{
	margin-left: 20px;
	background-color: #f00;
	border: solid 1px #fff;
}