section.sales
			.container
				.sales_block
					- var n = 2; // Количество повторений
						each _, index in Array(n)
							a(href="").beontime__block-item
								img(src="img/beontime_02.jpg", alt="")
								h4 Ванны из искусственного камня
								span до -10%
							a(href="").beontime__block-item
								img(src="img/beontime_01.jpg", alt="")
								h4 Ванны из искусственного камня
								span до -10%
							a(href="").beontime__block-item
								img(src="img/beontime_03.jpg", alt="")
								h4 Ванны из искусственного камня
								span до -10%
							a(href="").beontime__block-item
								img(src="img/beontime_03.jpg", alt="")
								h4 Ванны из искусственного камня
								span до -10%
							a(href="").beontime__block-item
								img(src="img/beontime_02.jpg", alt="")
								h4 Ванны из искусственного камня
								span до -10%
							a(href="").beontime__block-item
								img(src="img/beontime_01.jpg", alt="")
								h4 Ванны из искусственного камня
								span до -10%