header {
	width: 100%;
}
.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media (max-width:768px) {
		// display: none;
	}
}
.social_city {
	display: flex;
	align-items: center;
	gap: 5px;
	
}
.social_block {
	width: 100%;
	background-color: #E2DDD9;
	padding: 12px 0px;
	@media (max-width:992px) {
		display: none;
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.social_right {
	display: flex;
	gap: 20px;
	align-content: center;
	align-items: center;
	p {
		margin-right: 60px;
		display: block;
	}
}
.social_right a {
	flex-shrink: 0;
}
.header_middle_block {
	display: flex;
	gap: 60px;
	justify-content: space-between;
	@media (max-width:768px) {
		flex-wrap: nowrap;
		gap: 20px;
		& img {
			width: 50%;
		}
	}
	.header_mob_phone {
		display: none;
		@media (max-width:768px) {
			display: block;
		}
	}

	
}
.product_search_block {
	display: flex;
	flex: 1 1 auto;
}
.product_search_block_mob {
	display: none;
	@media (max-width:768px) {
		display: flex;
	}
	.prouct_seach_button {
		height: auto;
	}
}
.header_middle_block_right {
	display: flex;
	gap: 10px;
	flex: 1 1 auto;
	justify-content: flex-end;
	@media (max-width:768px) {
		display: none;

	}
}
.prouct_seach {

	width: 100%;
	@media (max-width:992px) {
		width: 100%;
	}
}
.prouct_seach_button {
	width: 52px;
	height: 100%;
	background-color: $color-red;
	background-position: center;
	background-repeat: no-repeat;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: -4px;
	cursor: pointer;

}
.header_user_block {
	padding: 12px 14px 11px 13px;
	display: flex;
	gap: 6px;
	border-radius: 4px;
	background-color: #F2EFEC;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.tooltip_text {
	width: max-content;
    overflow: hidden;
    height: 0px;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
    opacity: 0;
	padding: 0px;
    box-shadow: 0px 4px 8.7px 0px rgba(0, 0, 0, 0.1019607843);
	z-index: 2;
	background-color: #fff;

}
.header_user_block:hover .tooltip_text {
	padding: 30px;
	height: auto;
	opacity: 1;
	z-index: 2;
}
.header_nav {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-bottom: 30px;
	@media (max-width: 768px) {
		
	}
}
.header_nav_main{
	display: flex;
	gap: 25px;
	align-items: center;
	padding: 0px;
	flex-wrap: wrap;
	justify-content: flex-start;
	@media (max-width:992px) {
		display: none;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}
.header_nav_main li {
	display: flex;
	text-wrap: nowrap;
	flex-shrink: 0;
}
.catalog_botton {
	width: 149px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.catalog_botton_lefl {
	width: 15px;
	height: 15px;
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	position: relative;
}
.catalog_botton_lefl p{
	width: 6px;
	height: 6px;
	border-radius: 1px;
	background-color: #fff;
	transition: 0.3s;
}
.catalog_botton_lefl span{
	width: 20px;
	height: 3px;
	border-radius: 1px;
	background-color: #fff;
	transition: 0.3s;
	display: none;
}

.catalog_botton_lefl.active p {
	display: none;
}
.catalog_botton_lefl.active span {
	display: block;
}
.catalog_botton_lefl span:nth-of-type(1) {
    transform: rotate(45deg);
	position: absolute;
	top: 5px;
	left: -3px;
}
.catalog_botton_lefl span:nth-of-type(2) {
    transform: rotate(135deg);
	position: absolute;
	top: 5px;
	left: -3px;
}

.nav_img {
	margin-right: 7px;
}
.nav_link_drop {
	position: relative;
}
.nav_link_drop::before {
	content: "";
    position: absolute;
    background-image: url(../img/icons/Arrow_down.svg);
    background-size: contain;
    width: 9px;
    height: 6px;
    right: -15px;
    top: 10px;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}
.nav_link_drop_text {
	height: 0px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    padding: 30px;
    color: #000;
    display: flex;
	gap: 15px;
    flex-direction: column;
}
.nav_link_drop:hover .nav_link_drop_text {
	height: auto;
	opacity: 1;
}
.nav_link_drop:hover::before {
	transform: scaleY(-1);
}
.catalog_left_menu {
	display: flex;
	flex-direction: column;
	border-right: solid 2px #D9D5D2;
	max-width: 300px;
	@media (max-width:768px) {
		max-width: 100%;
		border-right: none;

	}
}
.catalog_menu_item {
	display: flex;
	padding: 10px 120px 10px 0px;
	gap: 20px;
}
.catalog_menu_item:hover {
	background-color: #F2EFEC;
}
.catalog_menu {
	display: flex;
	max-height: 0px;
	overflow: hidden;
	opacity: 0;	
	transition: .3s ease-in-out;
	@media (max-width:768px) {
		flex-direction: column;
		
	}
}
.catalog_menu.active {
	display: flex;
	height: max-content;
	overflow: hidden;
	max-height: 1000px;
	opacity: 1;	

}

.catalog_right_menu {
	padding: 34px 60px;
	list-style: none;
	display: flex;
	flex-direction: column;
    gap: 10px;
}
.catalog_right_menu ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.catalog_list_title {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 30px;
	margin-bottom: 30px;
}
.catalog_min_title {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	text-decoration: none;
}
.catalog_main_ul {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 15px;
	line-height: 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Три колонки равной ширины */
	gap: 30px;
}
.catalog_main_ul ul {
	display: flex;
	gap: 15px;
	padding: 0px;
}
.catalog_main_ul ul {
	text-decoration: none;
}
.catalog_right_menu {
	opacity: 0;
	display: none;
	transition: .3s ease-in-out;
}
.catalog_right_menu.active {
	display: block;
	opacity: 1;
}