section.ready_made
	.container
		.breadcrumbs 
			a(href="") Главная
			p Готовые решения
		h1.page_title Готовые решения
		a.gray_button.ready_filter_open(href="#ready_filter") Фильтры 
			img(src='img/levels.svg')
		.ready_made_selets_filter#ready_filter
			.catalog_select
				span.selected Тип помещения
				ul(id="catalog_select")
					li(data-value="popularity") Кухня
					li(data-value="price-asc") Санузел
					li(data-value="price-desc") Прихожная
			.catalog_select
				span.selected Цвет
				ul(id="catalog_select")
					li(data-value="popularity") Белый
					li(data-value="price-asc") Серый
					li(data-value="price-desc") Бежевый
			.catalog_select
				span.selected Текстура
				ul(id="catalog_select")
					li(data-value="popularity") Бетон
					li(data-value="price-asc") Матовая
					li(data-value="price-desc") Абразивная
			.catalog_select
				span.selected Стиль
				ul(id="catalog_select")
					li(data-value="popularity") Хайтек
					li(data-value="price-asc") Классика
					li(data-value="price-desc") Нео классика
		.catalog_active_filters
					div Наличие: 351
					ul  
						li Цвет: Белый
						li Текстура: Бетон
						li Стиль: Хайтек
						li Тип помещения: Кухня  
					span.clear(id="clear_ready_filter") Очистить все	
		.ready_made_block 
			- var n = 9;
				each _, index in Array(n)
					a.ready_item(href="#")
						img.ready_made__image(src="img/ready_made_01.png", alt='')
						p.ready-made__title(href="#") Ванная в стиле minimal – коллекция Axima  Stone
		include ../pagination/pagination