.footer {
    width: 100%;
    padding-top: 120px;
    @media (max-width: 768px) {
        padding-top: 90px;
    }
    &__form-block {
        width: 100%;
        background-color: #F2EFEC;
        .form-block__container {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 20px;
            @media (max-width: 768px) {
                padding-left: 120px;  
            }
            & .footer__form-block_left  {
                display: flex;
                position: relative;
                gap: 26px;
                & p {
                    font-weight: 600;
                    font-size: 20px;
                    text-align: left;
                    max-width: 236px;
                    @media (max-width: 768px) {
                        display: none;  
                    }
                }
                & img {
                    margin-top: -27px;
                    width: 88px;
                    @media (max-width: 768px) {
                        position: absolute;
                        left: -100px;
                        bottom: 0px;
                        /* width: 100px; */
                        /* height: 100px; */
                        max-width: max-content;
                    }
                }
            }
            & form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-shrink: 0;
                @media (max-width: 992px) {
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;
                }
                & .politic_block {
                    display: flex;
                    flex-direction: column;
                    margin-right: 125px;
                    @media (max-width: 768px) {
                        margin-right: 0px;
                        width: 100%;
                    }
                    & .check_politic {
                        display: flex;
                        gap: 10px;
                        & label {
                            display: block;
                            background-color: #F2EFEC;
                            width: 18px;
                            height: 18px;
                            border: solid 1px gray;
                            border-radius: 3px;
                            background-position: center;
                            background-size: contain;
                            flex-shrink: 0;
                            cursor: pointer;
                        }
                        & input {
                            display: none;
                        }
                        & input:checked + label{
                                
                                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32px" height="32px"><path d="M13.071,24.358c-0.497,0-0.962-0.246-1.242-0.658c-2.339-3.45-4.751-5.873-7.373-7.405 c-0.715-0.418-0.956-1.337-0.538-2.052c0.417-0.715,1.336-0.958,2.052-0.538c2.529,1.478,4.856,3.627,7.071,6.539 c4.261-6.008,9.283-10.838,14.952-14.375c0.705-0.438,1.628-0.225,2.066,0.479c0.438,0.703,0.225,1.628-0.479,2.066 c-5.935,3.702-10.925,8.697-15.258,15.27c-0.276,0.419-0.742,0.672-1.243,0.675C13.077,24.358,13.074,24.358,13.071,24.358z"/></svg>');
                        }
                        & a {
                            color: #8A8A8A;
                            &:hover {
                                color: #FE0000;
                            }
                        }
                    }
                    & input {   
                        margin-bottom: 15px;
                        background-color: #F2EFEC;
                        border: none;
                        border-bottom: solid 1px #101010;
                        color: #8A8A8A;
                        border-radius: 0;
                        font-size: 12px;
                        padding: 9px;
                    }
                    & a {
                        color: #8A8A8A;
                        font-size: 12px;
                        @media (max-width: 768px) {
                            font-size: 10px;
                        }
                    }
                }
                & button {
                    padding: 10px 41px;
                    border: solid 1px #FE0000;
                    border-radius: 4px;
                    color: #FE0000;
                    font-weight: 500;
                    @media (max-width: 768px) {
                        width: 100%;
                        padding: 10px;
                        font-size: 12px;
                    }
                    &:hover {
                        background-color: #E2DDD9;
                    }
                }
            }
        }   
    }
}
.footer__main-block {
    width: 100%;
    background-color: #E2DDD9;
    & .footer__list {
        padding-bottom: 30px;
        border-bottom: 1px solid #101010;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 30px;
        }
        & .footer__list_first {
                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            & ul {
                @media (max-width: 768px) {
                    width: 50%;
                }
            }
        }
        & a {

        }
        & .bold {
            font-weight: 700;
        }
        & ul {
            display: flex;
            flex-direction: column;
            gap: 14px;
            padding: 0px;
            & .footer_phone {
                font-weight: 500;
                font-size: 20px;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
                
            }
        }
    }
}
.footer__mobile_logo {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}
.footer__desc_logo {
    display: block;
    @media (max-width: 768px) {
        display: none;
    }
}
.footer_button {
    padding: 10px 45px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    text-wrap: nowrap;
}
.footer__bottom_block {
    background-color: #E2DDD9;
    & .container {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        @media (max-width: 768px) {
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        & ul {
            padding: 0px;
            display: flex;
            gap: 60px;
            color: #797979 ;
            @media (max-width: 768px) {
                flex-direction: column;
                gap: 0px;
            }
        }
        & .developer {
            display: flex;
            gap: 8px;
            justify-content: flex-start;
            align-items: center;
        }
    }
    

}