.main_banner {
    padding-top: 30px;
}
.swiper-slide {
    box-sizing: border-box;
}
.main_slider {
    width: 70%;
    max-width: 803px;
    flex-shrink: 0;
}
.main_slider .swiper-slide {
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-size: contain;
    position: relative;
    @media (max-width:768px) {
        width: 100%;
    }
}      
.main_slider.swiper {
    width: calc(70% - 30px);
    height: max-content;
    border-radius: 10px;
    overflow: hidden;
    @media (max-width:992px) {
        width: 100%;
    }
  }
.main_slider .swiper-slide a{
    position: absolute;
    padding: 16px 30px;
    background-color: #fff;
    border: 2px solid #FE0000;
    color: #FE0000;
    border-radius: 4px;
    font-weight: 500;
    bottom: 92px;
    right: 65px;
    @media (max-width:768px) {
        bottom: 40px;
        right: 20px;
        font-size: 11px;
        padding: 11px 21px;

        
    }
}
.main_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-pagination {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.maiin_slider_nav .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    border: solid 1px #FE0000;
    display: block;
}   
.maiin_slider_nav .swiper-pagination-bullet-active {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    border: solid 1px #FE0000;
    display: block;
    background-color: #FE0000;

}
.maiin_slider_nav {
    position: relative;
}
.swiper-button-next {
    width: 19px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    position: absolute;
    bottom: 16px;
    right: calc(50% - 70px);

}
.swiper-button-prev {
    width: 19px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 16px;
    left: calc(50% - 70px);
}
.banner {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}
.main_banner_right {
    display: flex; 
    height: 400px;
    gap: 30px;
    width: 32%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
    @media (max-width:1280px) {
        height: 382px;
        
    }
    @media (max-width:1200px) {
        height: 320px;
        
    }
    @media (max-width:992px) {
        display: none;  
        
    }
    @media (max-width:992px) {
        display: none;  
        
    }
}
.banner_right_item {
    width: 100%;
    /* flex: 0 0 387px; */
    height: 50%;
    border-radius: 10px;
    max-height: 185px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.banner_right_item span{
    position: absolute;
    top: 0;
    left: 30px;
    padding: 12px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 16px;
    font-weight: 600px;
    color: #fff;
    width: 110px;
    height: 88px;
    background-image: url('data:image/svg+xml,<svg width="110" height="88" viewBox="0 0 110 88" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L-1.44248e-06 33C-2.77024e-06 63.3757 24.6243 88 55 88C85.3757 88 110 63.3757 110 33L110 4.80825e-06L0 0Z" fill="%23FE0000"/></svg>');
}
.banner_right_item:nth-of-type(2) span {
    right: 30px;
    left: auto;
}
.catalog_links {
    padding-top: 60px;
    @media (max-width:768px) {
        padding-top: 15px; 
    }
}
.main_catalog_links {
    display: flex;
    justify-content: center;
    gap: 29px;
    flex-wrap: wrap;   
    @media (max-width:768px) {
        flex-wrap: wrap;    
        gap: 15px;  
    }
}
.main_catalog_item {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    width: 283px;
    height: 230px;  
    padding: 20px;
    @media (max-width:768px) {
        padding: 11px;    
        width: 160px;
        height: 130px; 
    }
}
.main_catalog_arrow {
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background-color: #fff;
    background-image: url('../img/slide_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    @media (max-width:768px) {
        width: 30px;
        height: 30px; 
    }
}

.manufacturer {
    padding-top: 120px;
    @media (max-width:768px) {
        padding-top: 90px;
    }

}
.manufacturer h1 {
    margin-bottom: 28px;
}
.manufacturer p {
    margin-bottom: 60px;
    max-width: 803px;
    @media (max-width:768px) {
        margin-bottom: 30px;
    }
}
.main_manufacturer_slider {
    height: max-content;
    position: relative;
}
.manufacturer_slide {
    width: 178px;
    height: 84px;
    border-radius: 8px;
    border: solid 1px #E2DDD9;
    background-position: center;
    background-size: contain;
    padding: 3px;
    transition: .3s ease-in-out;
    @media (max-width: 768px) {
        width: 118px;
        height: 56px;
    }
}
.manufacturer_slide:hover {
    box-shadow: 0px 4px 23px 0px #2221212e;
}
.manufacturer_slider-next {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    border: solid 1px #E2DDD9;
    background-position: center;
    position: absolute;
    right: 13%;
    top: calc(100% - 90px);
    transform: rotate(180deg);
    @media (max-width: 768px) {
        display: none;
    }

}
.manufacturer_slider-prev {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    border: solid 1px #E2DDD9;
    background-position: center;
    position: absolute;
    left: 13%;
    top: calc(100% - 90px);
    z-index: 3;
    @media (max-width: 768px) {
        display: none;
    }
}
.ready_design {
    padding-top: 110px;
    @media (max-width: 768px) {
        padding-top: 90px;
    }
}
.ready_block {
    width: 100%;
    height: max-content;
}
.ready_design h2 {
    margin-bottom: 30px;
}
.ready_design p {
    margin-bottom: 62px;
    max-width: 803px;
    @media (max-width: 768px) {
        margin-bottom: 30px;
    }
}
.ready_design_last {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
    }

}
.order_my_design {
    color: #fff;
}
.white_arrow_red_circle {
    width: 33px;
    height: 33px;
    background-position: center;
    border-radius: 33px;
}
.ready_item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.ready_item p {
    opacity: 0;
    width: 70%;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    transition: .3s ease-in-out;
    z-index: 3;
    position: absolute;
    top: 20px;
    left: 20px;
}
.ready_item:hover p {
    opacity: 1;
}
.ready_item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000038;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 2;
}
.ready_item:hover::before {
    opacity: 1;
}
.all_ready_design {
    width: 208px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    gap: 10px;
    color: #FE0000;
}
.all_ready_design_desc {
    @media (max-width:768px) {
        display: none;
    }
}
.all_ready_design_mob {
    display: none;
    @media (max-width:768px) {
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
    }
}
.white_arrow_red_circle {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #FE0000;
}
.profi_team {
    padding-top: 110px;
}
.profi_team_block {
    background-color: #F2EFEC;
    display: flex;
    border-radius: 8px;
    position: relative;
    z-index: -2;
    padding-right: 52px;
    @media (max-width: 768px) {
        flex-direction: column;
        padding: 0px;
    }
}
.profi_team_left h2 {
    margin-bottom: 34px;
}
.profi_team_left {
    overflow: hidden;
    padding: 52px 80px 52px 60px;
    position: relative;
    @media (max-width: 768px) {
        padding: 30px;
    }
}
.profi_team_left_bottom {
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    @media (max-width: 992px) {
     flex-direction: column;
     gap: 30px;
    }
}
.profi_team_left_bottom_item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
.profi_right {
    max-width: 308px;
    margin-top: -27px;
    @media (max-width: 768px) {
        max-width: 228px;
        margin-top: 0;
        margin-bottom: -27px;
        margin-left: 77px;
       }
}
.profi_team_left::before {
    position: absolute; 
    content: '';
    width: 88px;
    height: 88px;
    border-radius: 88px;
    background-color: #E2DDD9;
    z-index: -1;
    left: calc(100% - 88px);
    top: calc(50% - 44px);
}
.profi_team_left::after {
    position: absolute; 
    content: '';
    width: 170px;
    height: 170px;
    border-radius: 88px;
    background-color: #E2DDD9;
    z-index: -1;
    left: -85px;
    top: 10px;
}
.hit_sales {
    padding-top: 120px;
}
.hit_sales .swiper {
    overflow: hidden;
    margin-left: -30px;
    width: calc(100% + 60px);
    padding: 30px 32px;
    @media (max-width: 768px) {
        margin-left: 0px;
        width: 100%;
        padding: 30px 0px;
    }
}
.hit_sales_title {
    display: flex;
    justify-content: space-between;
}
.hit_sales_tabs {
    display: flex;
    gap: 44px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        overflow-x: scroll;
        gap: 10px;
        margin-bottom: 0;
       }
}
.hit_sales_tabs_item {
    display: flex;
    gap: 7px;
    background-color: #F2EFEC;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 9px 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #8A8A8A;
    padding: 8px 15px;
    @media (max-width: 768px) {
        padding: 7px 40px;
        width: fit-content;
       }
    img {
        flex-shrink: 0;
    }

}
.hit_sales_tabs_item:hover {
    color: #FE0000;
}
.hit_sales_tabs_item:hover img{
}
.hit_sales_tab {
    padding-top: 30px;
    padding-bottom: 30px;
    height: fit-content;
}
.hit_sales_slide {
    transition: .3s;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}
.hit_sales_slide:hover {
    z-index: 10;
    @media (max-width:768px) {
        box-shadow: none;
    }
    box-shadow: 0 0 23.1px 6px rgba(0, 0, 0, 0.1803921569);

}
.beontime {
    padding-top: 120px;
    @media (max-width:768px) {
        padding-top: 90px;
    }
    &__title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__block {
        width: 100%;
        height: max-content;
        // display: flex;
        // justify-content: space-between;

    }
    &__block-item {
        // flex: 1 1 30%;
        // max-width: 387px;
        // max-height: 250px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        height: max-content;
        & span {
            display: block;
            position: absolute;
            width: 77px;
            padding: 10px 13px 19px 13px;
            border-bottom-left-radius: 77px;
            border-bottom-right-radius: 77px;
            background-color: #FE0000;
            color: #fff;
            top: 0;
            right: 30px;
            text-align: center;
            @media (max-width:768px ) {
                width: 71px;
                padding: 15px 10px 10px 11px;
                border-bottom-left-radius: 71px;
                border-bottom-right-radius: 71px;
                right: 10px;
            }
        }
        & h4 {
            display: block;
            position: absolute;
            color: #fff;
            top: 10px;
            left: 20px;
            text-align: left;
            max-width: 50%;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }

}