.sales_block {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width:992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.beontime__block-item {
    border-radius: 8px;
    position: relative;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.beontime__block-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2196078431);
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 2;
}
.beontime__block-item:hover::before {
    opacity: 1;

}