@use "sass:map";

html {
	max-width: 100%;
	position: relative;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	font-family: $fontMain;
	font-size: $fontSize;
	color: $mainColor;
	min-height: 100vh;
	line-height: normal;
}

a {
	display: inline-block;
	outline: none;
	text-decoration: none;
	color: currentColor;
	cursor: pointer;
	transition: $transition;
}

p {
	margin: 0;
}

svg {
	display: block;
	flex: 0 0 auto;
	fill: currentColor;
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

button {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	font-family: $fontMain;

	&:not([disabled]):hover,
	&:not([disabled]):focus,
	&:not([disabled]):active {
		box-shadow: none;
		outline: none;
	}
}

ul, li {
	list-style: none;
}

input, textarea {
	outline: none;
	font-family: $fontMain;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 40px;
	margin-bottom: 8px;

	a {
		position: relative;
		transition: $transition;

		&::after {
			content: '—';
			padding-left: 8px;
			color: #8A8A8A;
		}
		&:hover {
			color: $red;
		}
	}
	p {
		color: #8A8A8A;
	}
}

.section_titles {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;

	&__title {
		font-weight: 600;
		font-size: 34px;
	}
	&__link {
		display: flex;
		gap: 10px;
		align-items: center;

		p {
			font-size: 14px;
			font-weight: 600;
			color: $red;
			transition: $transition;
		}
		&--img {
			background-color: $red;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: $transition;
			width: 33px;
			height: 33px;
			border-radius: 100%;

			svg {
				transform: rotate(180deg);
				width: 12px;
				fill: #fff;
			}
		}

		&:hover {
			p {
				color: $darkred;
			}
			.section_titles__link--img {
				background-color: $darkred;
			}
		}
	}
}