include ../helpers/mixins/collections_cart_item.pug

section.catalog_products
.container
    .catalog_title_block 
        h1 Керамогранит
        .catalog_title_block__left  
            p 2 540 товаров   
    .catalog_main
        .catalog_filter
            include ../components/catalog_priducts_filter
        .catalog_result
            .catalog_popular_collections 
                p Популярные подборки:
                ul 
                    li 
                        a Для ванной
                    li 
                        a Для кухни
                    li 
                        a Напольный
                    li 
                        a Серый
                    li 
                        a 60x120 см
                    li 
                        a Пол с мрамором
                    li 
                        a Новогодний
                    li 
                        a Настенный
                    li 
                        a Белый
                    li 
                        a Для улицы
                    li 
                        a Испания
                    li 
                        a Черный
                    li 
                        a 60x60 см
                    li.popular_collections_all 
                        a Показать все
            .catalog_tab_sort
                .catalog_tab
                    .catalog_tab(id="catalog_tab_products") 
                        h3 Товары
                    .catalog_tab.active(id="catalog_tab_collections") 
                        h3 Коллекции
                .catalog_sort
                    a.gray_button.modal_call(href="#filter_show") Фильтры 
                        img(src='img/levels.svg')
                    .catalog_select
                        span.selected По популярности
                        ul(id="catalog_select")
                            li(data-value="popularity") по популярности
                            li(data-value="price-asc") По цене сначала дешевле
                            li(data-value="price-desc") По цене сначала дороже
            .catalog_active_filters
                div Наличие: 351
                ul  
                    li Производитель: Axima
                    li Производитель: PiezaROSA
                    li Размер: 120x60 см
                    li Цвет: серый  
                    li Цвет: белый
                span.clear(id="clear_catalog_filter_more")  Очистить все
            .catalog_poducts_list.collections_list
                        
                - var n = 3; // Количество повторений
                    each _, index in Array(n)
                        .hit_sales_slide
                            +product_cart_item("img/collection_01.png", "Коллекция керамической плитки Amsterdam ", "150 шт./150 м²", "2 216", "2 216")
                        .hit_sales_slide
                            +product_cart_item("img/collection_02.png", "Коллекция керамической плитки Amsterdam ", "150 шт./150 м²", "2 216", "2 216")
                        .hit_sales_slide
                            +product_cart_item("img/collection_03.png", "Коллекция керамической плитки Amsterdam ", "150 шт./150 м²", "2 216", "2 216")
                        .hit_sales_slide
                            +product_cart_item("img/collection_04.png", "Коллекция керамической плитки Amsterdam ", "150 шт./150 м²", "2 216", "2 216")
                        .hit_sales_slide
                            +product_cart_item("img/collection_03.png", "Коллекция керамической плитки Amsterdam ", "150 шт./150 м²", "2 216", "2 216")
                        .hit_sales_slide
                            +product_cart_item("img/collection_04.png", "Коллекция керамической плитки Amsterdam ", "150 шт./150 м²", "2 216", "2 216")
                        .hit_sales_slide
                            +product_cart_item("img/collection_01.png", "Коллекция керамической плитки Amsterdam ", "150 шт./150 м²", "2 216", "2 216")
                        .hit_sales_slide
                            +product_cart_item("img/collection_02.png", "Коллекция керамической плитки Amsterdam ", "150 шт./150 м²", "2 216", "2 216")
                          
                       


                                                    
            .catalog_show_more.gray_button  показать ещё
            .catalog_pagination_bottom 
                .catalog_pre_arrow_pagination(style="background-image: url('img/Arrow3.svg');") 
                ul  
                    li.active 1
                    li 2
                    li 3
                    li 4
                    li 5
                    li 6
                    li ...
                .catalog_next_arrow_pagination(style="background-image: url('img/Arrow3.svg');") 
            
            .manufacturer 
                    h1 Популярные бренды
                    //- p Как принято считать, базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения.
                    .swiper.main_manufacturer_slider
                        .swiper-wrapper
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/01_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/02_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/03_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/04_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/05_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/06_manufacturer.png');")
            sectoin.bottom_seo 
                .bottom_seo_item
                    h2 Текст для СЕО
                    p В частности, начало повседневной работы по формированию позиции способствует подготовке и реализации стандартных подходов. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора, кроме определения укрепления моральных ценностей. Имеется спорная точка зрения, гласящая примерно следующее: независимые государства формируют глобальную экономическую сеть и при этом — объявлены нарушающими общечеловеческие нормы этики и морали. 
                .bottom_seo_item
                    h3 Текст для СЕО
                    p Есть над чем задуматься: интерактивные прототипы, вне зависимости от их уровня, должны быть подвергнуты целой серии независимых исследований! Есть над чем задуматься: ключевые особенности структуры проекта призывают нас к новым свершениям, которые, в свою очередь, должны быть объективно рассмотрены соответствующими инстанциями. Как уже неоднократно упомянуто, стремящиеся вытеснить традиционное производство, нанотехнологии освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, описаны максимально подробно. Наше дело не так однозначно, как может показаться: синтетическое тестирование, в своём классическом представлении, допускает внедрение инновационных методов управления процессами. Кстати, реплицированные с зарубежных источников, современные исследования неоднозначны и будут описаны максимально подробно.
                    ul 
                        li Однозначно, реплицированные с зарубежных источников, современные исследования, вне зависимости от их уровня, должны быть обнародованы.
                        li Не следует, однако, забывать, что убеждённость некоторых оппонентов, в своём классическом представлении, допускает внедрение поэтапного и последовательного развития общества. Картельные сговоры не допускают ситуации, при которой активно развивающиеся страны третьего мира призывают нас к новым свершениям, которые, в свою очередь, должны быть призваны к ответу
                        li Для современного мира дальнейшее развитие различных форм деятельности играет важную роль в формировании переосмысления внешнеэкономических политик
                    p Мы вынуждены отталкиваться от того, что высокое качество позиционных исследований однозначно фиксирует необходимость экспериментов, поражающих по своей масштабности и грандиозности. Противоположная точка зрения подразумевает, что явные признаки победы институционализации представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объединены в целые кластеры себе подобных. Современные технологии достигли такого уровня, что понимание сути ресурсосберегающих технологий прекрасно подходит для реализации анализа существующих паттернов поведения.

