include ../helpers/mixins/product_cart.pug

section.catalog_products
.container
    .catalog_title_block 
        h1 Керамогранит
        .catalog_title_block__left  
            p 2 540 товаров   
    .catalog_main
        .catalog_filter
            include ../components/catalog_priducts_filter
        .catalog_result
            .catalog_popular_collections
                ul Популярные подборки:
                    li 
                        a Полуярные подбрюки
                    li 
                        a Для ванной
                    li 
                        a Для кухни
                    li 
                        a Напольный
                    li 
                        a Серый
                    li 
                        a 60x120 см
                    li 
                        a Пол с мрамором
                    li 
                        a Новогодний
                    li 
                        a Настенный
                    li 
                        a Белый
                    li 
                        a Для улицы
                    li 
                        a Испания
                    li 
                        a Черный
                    li 
                        a 60x60 см
                    li.popular_collections_all 
                        a Показать все
            .catalog_tab_sort
                .catalog_tab
                    .catalog_tab.active(id="catalog_tab_products") 
                        h3 Товары
                    .catalog_tab(id="catalog_tab_collections") 
                        h3 Коллекции
                .catalog_sort
                    .catalog_select
                        span.selected По популярности
                        ul(id="catalog_select")
                            li(data-value="popularity") по популярности
                            li(data-value="price-asc") По цене сначала дешевле
                            li(data-value="price-desc") По цене сначала дороже
            .catalog_active_filters
                ul  Наличие: 351
                    li Производитель: Axima
                    li Производитель: PiezaROSA
                    li Размер: 120x60 см
                    li Цвет: серый  
                    li Цвет: белый
                    span.clear(id="clear_catalog_filter_more")  Очистить все
            .catalog_poducts_list
                - var n = 5; // Количество повторений
                    each _, index in Array(n)
                        .hit_sales_slide
                            +productCard("img/product_01.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +productCard("img/product_05.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +productCard("img/product_03.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +productCard("img/product_04.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                    