include ../helpers/mixins/product_card_item.pug

section.catalog_products
.container
    .catalog_title_block 
        h1 Керамогранит
        .catalog_title_block__left  
            p 2 540 товаров   
    .catalog_main
        .catalog_filter
            include ../components/catalog_priducts_filter
        .catalog_result
            .catalog_popular_collections 
                p Популярные подборки:
                ul 
                    li 
                        a Для ванной
                    li 
                        a Для кухни
                    li 
                        a Напольный
                    li 
                        a Серый
                    li 
                        a 60x120 см
                    li 
                        a Пол с мрамором
                    li 
                        a Новогодний
                    li 
                        a Настенный
                    li 
                        a Белый
                    li 
                        a Для улицы
                    li 
                        a Испания
                    li 
                        a Черный
                    li 
                        a 60x60 см
                    li.popular_collections_all 
                        a Показать все
            .catalog_tab_sort
                .catalog_tab
                    .catalog_tab.active(id="catalog_tab_products") 
                        h3 Товары
                    .catalog_tab(id="catalog_tab_collections") 
                        h3 Коллекции
                .catalog_sort
                    a.gray_button.modal_call(href="#filter_show") Фильтры 
                        img(src='img/levels.svg')
                    .catalog_select
                        span.selected По популярности
                        ul(id="catalog_select")
                            li(data-value="popularity") по популярности
                            li(data-value="price-asc") По цене сначала дешевле
                            li(data-value="price-desc") По цене сначала дороже
            .catalog_active_filters
                div Наличие: 351
                ul  
                    li Производитель: Axima
                    li Производитель: PiezaROSA
                    li Размер: 120x60 см
                    li Цвет: серый  
                    li Цвет: белый
                span.clear(id="clear_catalog_filter_more")  Очистить все
            .catalog_poducts_list
                        
                - var n = 2; // Количество повторений
                    each _, index in Array(n)
                        .hit_sales_slide
                            +product_card_item("img/product_01.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_05.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_03.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_04.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_01.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_05.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_03.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        a.catalog_poducts_ready_link(href="")
                            .catalog_poducts_ready_img(style="background-image: url('img/ready_in_catalog.png');")
                                .catalog_poducts_ready_top
                                    h4 Готовые решения
                                    p Как принято считать, базовые сценарии поведения.
                                .main_catalog_arrow
                        .hit_sales_slide
                            +product_card_item("img/product_01.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_05.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_03.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_04.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_01.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_05.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_03.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_04.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        a.catalog_poducts_ready_link(href="")
                            .catalog_poducts_ready_img(style="background-image: url('img/ready_in_catalog_max.png');")
                                .catalog_poducts_ready_top
                                    h4 Максимальная выгода
                                    p Как принято считать, базовые сценарии поведения.
                                .main_catalog_arrow
                        .hit_sales_slide
                            +product_card_item("img/product_05.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_03.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        .hit_sales_slide
                            +product_card_item("img/product_04.png", "img/product_02.png", "img/product_03.png", "img/product_04.png",  "Хит продаж", "56967", "Керамогранит Barcelona светло-серая 600×600", "150 шт./150 м²", "1 723", "2 150", "-20%", "1 523", "1 723")
                        
                            


                                                    
            .catalog_show_more.gray_button  показать ещё
            .catalog_pagination_bottom 
                .catalog_pre_arrow_pagination(style="background-image: url('img/Arrow3.svg');") 
                ul  
                    li.active 1
                    li 2
                    li 3
                    li 4
                    li 5
                    li 6
                    li ...
                .catalog_next_arrow_pagination(style="background-image: url('img/Arrow3.svg');") 
            
            .manufacturer 
                    h1 Популярные бренды
                    //- p Как принято считать, базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения.
                    .swiper.main_manufacturer_slider
                        .swiper-wrapper
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/01_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/02_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/03_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/04_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/05_manufacturer.png');")
                            .swiper-slide.manufacturer_slide(style="background-image: url('img/06_manufacturer.png');")