extends ../layouts/default

prepend vars

block content
	include ../section/header/header
	main.main
		include ../components/breadcrumbs
		include ../section/catalog_collections
		
		
	include ../components/modals/modals
	include ../section/footer/footer
