extends ../layouts/default

prepend vars

block content
	.container 
		h1(style="margin-bottom: 64px;") Страницы

		div(style="display:flex;flex-direction:column;gap:16px;") 
			a(href="./main_page.html") Главная
			a(href="./catalog_collections_page.html") Каталог - товары
			a(href="./product_card_page.html") Карточка товара
			a(href="./catalog_products_page.html") Каталог - коллекции
			a(href="./collection_card_page.html") Карточка коллекции
			a(href="./ready_made_page.html") Готовые решения
			a(href="./sales_page.html") Акции
			a(href="./cart_page.html") Корзина
			a(href="./partners_page.html") Партнерам	


			//- a(href="./partners_page.html") Партнерам
			