extends ../layouts/default

prepend vars

block content
	include ../section/header/header
	main.main
		include ../section/mainpage
	include ../components/modals/modals
	include ../section/footer/footer
