extends ../layouts/default

prepend vars

block content
	include ../section/header/header
	main.main
		include ../components/breadcrumbs
		include ../section/product_page/product_page

	include ../components/modals/modals
	include ../section/footer/footer
