#modal-city.modal
    .modal_content
        h3.h3.modal_city_title Укажите свой город
        input.search_city(type="text" placeholder="Населенный пункт")
        button.modal_close
        ul.city-list
            li Москва
            li Санкт-Петербург
            li Адлер
            li Владимир
            li Волгоград
            li Вологда
            li Воронеж
            li Екатеринбург
            li Иваново
            li Ижевск
            li Казань
            li Калуга
            li Кострома
            li Краснодар
            li Липецк
            li Набережные Челны
            li Нижний Новгород
            li Пенза
            li Пермь
            li Пятигорск
            li Ростов-на-Дону
            li Рязань
            li Самара
            li Саратов
            li Симферополь
            li Смоленск
            li Сочи
            li Ставрополь
            li Тверь
            li Тула
            li Тюмень
            li Уфа
            li Челябинск
            li Череповец
            li Ярославль	