.product_page
	
	.container 
		.breadcrumbs
			a(href="") Главная
			a(href="") Керамогранит
			p Керамогранит Amsterdam светло-бежевая 600*1200
		section.product_page__main
			.product_page__main--sliders 
				.product_page__main--slider--nav--wrapper 
					.product_page__main--slider--nav.swiper
						.swiper-wrapper  
							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_1.png", alt="")
							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_2.png", alt="")
							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_1.png", alt="")
							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_2.png", alt="")
							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_1.png", alt="")
							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_2.png", alt="")

							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_2.png", alt="")
							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_1.png", alt="")
							.product_page__main--slider--nav--item.swiper-slide 
								img(src="img/slide_card_small_2.png", alt="")
				.product_page__main--slider--main--wrapper
					.product_page__main--slider--main.swiper
						.swiper-wrapper  
							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")
								.product_page__main--slider--main--item--tag Хит продаж
								.product_page__main--slider--main--item--discount 
									img(src="img/discount_icon.svg", alt="")
									p -20%
							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")
							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")
							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")
							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")
							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")

							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")
							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")
							.product_page__main--slider--main--item.swiper-slide 
								img(src="img/slide_card_big_1.png", alt="")
						.product_page__main--slider--main--nav 
							.product_page__main--slider--main--nav--prev 
								+svg('cardslider_main_arrow')
							.product_page__main--slider--main--nav--next 
								+svg('cardslider_main_arrow')
						.product_page__main--slider--main--pagination

			.product_page__main--info 
				.product_page__main--info--start
					.product_page__main--info--numbers 59 132
					.product_page__main--info--reviews 
						.product_page__main--info--reviews--stars
							img(src="img/icons/star_full.svg", alt="")
							img(src="img/icons/star_full.svg", alt="")
							img(src="img/icons/star_full.svg", alt="")
							img(src="img/icons/star_full.svg", alt="")
							img(src="img/icons/star_empty.svg", alt="")
						a(href="").anchor 3 отзыва
				h1.product_page__main--info--title Керамогранит Amsterdam светло-бежевая 600*1200
				.product_page__main--info--manufacture 
					a(href="").product_page__main--info--manufacture--logo
						img(src="/img/card_manufacture.png", alt="") 
					a(href="#").product_page__main--info--manufacture--anchor.anchor Другие товары коллекции
				.product_page__main--info--colors 
					p Цвет
					.product_page__main--info--colors--items
						.product_page__main--info--colors--items--item.active 
							img(src="img/color_1.png", alt="")
							span Цвет 1
						.product_page__main--info--colors--items--item  
							img(src="img/color_2.png", alt="")
							span Цвет 2
						.product_page__main--info--colors--items--item  
							img(src="img/color_3.png", alt="")
							span Цвет 3
				.product_page__main--info--quantity В наличии: 150 шт. / 150 м2

				.product_page__main--info--block
					.product_page__main--info--block--sizes 
						.product_page__main--info--block--sizes--btns 
							.product_page__main--info--block--sizes--btns--btn.active м<sup>2</sup>
							.product_page__main--info--block--sizes--btns--btn шт.
							.product_page__main--info--block--sizes--btns--btn упак.
						.product_page__main--info--block--sizes--size 1.62 м2 = 5 шт = 1 упак
					.product_page__main--info--block--prices 
						.product_page__main--info--block--prices--opt
							.product_page__main--info--block--prices--opt--price 
								.product_page__main--info--block--prices--opt--price--new 
									p 1 523
									span ₽/м<sup>2</sup>
								.product_page__main--info--block--prices--opt--price--old 1 723 ₽/м<sup>2</sup>
							.product_page__main--info--block--prices--opt--name Оптовая цена
						.product_page__main--info--block--prices--retail
							.product_page__main--info--block--prices--retail--price 
								.product_page__main--info--block--prices--retail--price--new 
									p 1 723
									span ₽/м<sup>2</sup>
								.product_page__main--info--block--prices--retail--price--old 2 150 ₽/м<sup>2</sup>
							.product_page__main--info--block--prices--retail--name Розничная цена
					.product_page__main--info--block--result
						.product_page__main--info--block--calc 
							.product_page__main--info--block--calc--minus 
								img(src="img/icons/minus.png", alt="")
							.product_page__main--info--block--calc--num 1, 62 м2
							.product_page__main--info--block--calc--plus
								img(src="img/icons/plus.png", alt="")
						.product_page__main--info--block--total 
							p Итого:
							.product_page__main--info--block--total--price <span>2 240</span> ₽
					.product_page__main--info--block--buttons 
						.product_page__main--info--block--buttons--btn 
							img(src="img/icons/cart.svg", alt="")
							p В корзину
						.product_page__main--info--block--buttons--compare
							img(src="img/icons/line_desc.svg", alt="") 
						.product_page__main--info--block--buttons--favorite
							img(src="img/icons/heart_desc.svg", alt="") 
						
					.product_page__main--info--block--oneclick Купить в 1 клик

				.product_page__main--info--other
					.product_page__main--info--other--item
						.product_page__main--info--other--item--top
							img(src="img/icons/card_info_1.svg", alt="")
							p Доставка:
						.product_page__main--info--other--item--bottom 5.07 от 1 900 ₽
					.product_page__main--info--other--item
						.product_page__main--info--other--item--top
							img(src="img/icons/card_info_2.svg", alt="")
							p Пункты выдачи:
						.product_page__main--info--other--item--bottom 04.07 бесплатно
					.product_page__main--info--other--item
						.product_page__main--info--other--item--top
							img(src="img/icons/card_info_3.svg", alt="")
							p Рассрочка:
						.product_page__main--info--other--item--bottom с картой Халва
				
				.product_page__main--info--about 
					.product_page__main--info--about--title О товаре
					.product_page__main--info--about--list 
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Артикул
							.product_page__main--info--about--list--item--value 321514566
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Бренд
							.product_page__main--info--about--list--item--value Stellare ceramic
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Размер, см
							.product_page__main--info--about--list--item--value 600х1200
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Толщина, мм
							.product_page__main--info--about--list--item--value 8,5
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Назначение
							.product_page__main--info--about--list--item--value Для пола / Для стен
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Область применения
							.product_page__main--info--about--list--item--value Для общественных мест / Ванная / Гостиная / Кухня / Туалет / Душевая / Коридор
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Поверхность
							.product_page__main--info--about--list--item--value Матовая
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Структура поверхности
							.product_page__main--info--about--list--item--value Гладкая
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Материал
							.product_page__main--info--about--list--item--value Керамогранит
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Ректификация
							.product_page__main--info--about--list--item--value Есть
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Износостойкость
							.product_page__main--info--about--list--item--value Класс 3 (PEI III)
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Штук в упаковке, шт
							.product_page__main--info--about--list--item--value 5 шт
						.product_page__main--info--about--list--item 
							.product_page__main--info--about--list--item--name Площадь в упаковке, м2
							.product_page__main--info--about--list--item--value 1.624

		section.hit_sales
		.container
			.hit_sales_title
				h2 Похожие товары
				a.all_ready_design.all_ready_design_desc(href="") Посмотреть всю коллекцию
					.white_arrow_red_circle(style="background-image: url('img/white_arrow.svg');")
			.swiper.hit_sales_tab(data_tab_sales="")
				.swiper-wrapper
					.swiper-slide.hit_sales_slide
						a.product-card(href="#")
							.product-card-image_slider(data_tab_sales="")
								.tabs_images_block
										img.product-card__image(src="img/product_01.png", alt='title')
										img.product-card__image(src="img/product_02.png", alt='')
										img.product-card__image(src="img/product_03.png", alt='')
										img.product-card__image(src="img/product_04.png", alt='')
										.product-card_hover_tabs
							
								span.product-card__badge Хит продаж
							.product-card__info
								span.product-card__art 56967
								.product-card__title(href="#") Керамогранит Barcelona светло-серая 600×600
								.product-card__stock В наличии:
								span 150 шт./150 м²
								.product-card__price
									span.product-card__price-current 1 723 ₽/м²
										span.product-card__price-old 2 150 ₽/м²
								.product-card__price.wholesale_price
									span.product-card__price-current 1 523 ₽/м²
										span.product-card__price-old 1 723 ₽/м²
										span.product-card__discount -20%
							.product-card__bottom-block
								.product-card__red_button.red_button(data-incart="") В корзину
								.product-card__compare_button(data-compare="")
									img(src="./img/icons/line_desc.svg", alt="")
								.product-card__like_button(data-like="")
									img(src="./img/icons/heart_desc.svg", alt="")
			a.all_ready_design.all_ready_design_mob(href="") Посмотреть всю коллекцию
				.white_arrow_red_circle(style="background-image: url('img/white_arrow.svg');")

	section.product_page__reviews
		.container 
			.product_page__reviews--title Отзывы <span>3</span>
			.product_page__reviews--block 
				.product_page__reviews--block--left 
					.product_page__reviews--stars 
						img(src="img/icons/star_full.svg", alt="")
						img(src="img/icons/star_full.svg", alt="")
						img(src="img/icons/star_full.svg", alt="")
						img(src="img/icons/star_full.svg", alt="")
						img(src="img/icons/star_empty.svg", alt="")
					.product_page__reviews--items 
						.product_page__reviews--items--item
							.product_page__reviews--items--item--info 
								.product_page__reviews--items--item--info--name Евгений
								.product_page__reviews--items--item--info--date 25.03.2025
							.product_page__reviews--items--item--text В частности, начало повседневной работы по формированию позиции способствует подготовке и реализации стандартных подходов. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора, кроме определения укрепления моральных ценностей. 
						.product_page__reviews--items--item
							.product_page__reviews--items--item--info 
								.product_page__reviews--items--item--info--name Виктория
								.product_page__reviews--items--item--info--date 10.02.2025
							.product_page__reviews--items--item--text Имеется спорная точка зрения, гласящая примерно следующее: независимые государства формируют глобальную экономическую сеть и при этом — объявлены нарушающими общечеловеческие нормы этики и морали.  
						.product_page__reviews--items--item
							.product_page__reviews--items--item--info 
								.product_page__reviews--items--item--info--name Евгений
								.product_page__reviews--items--item--info--date 01.01.2025
							.product_page__reviews--items--item--text В частности, начало повседневной работы по формированию позиции способствует подготовке и реализации стандартных подходов. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры не даёт нам иного выбора, кроме определения укрепления моральных ценностей. 
				.product_page__reviews--block--right 
					form(action="").product_page__reviews--form
						.product_page__reviews--form--title Оставить отзыв 
						.product_page__reviews--form--text Оставив отзыв, вы поможете другим покупателям в выборе
						.product_page__reviews--form--subtitle Ваша оценка
						.product_page__reviews--form--stars 
							img(src="img/icons/star_gray.svg", alt="")
							img(src="img/icons/star_gray.svg", alt="")
							img(src="img/icons/star_gray.svg", alt="")
							img(src="img/icons/star_gray.svg", alt="")
							img(src="img/icons/star_gray.svg", alt="")
						.product_page__reviews--form--subtitle Комментарий
						textarea(placeholder="Опишите плюсы и минусы товара") 
						button(type="submit") Отправить
					.product_page__reviews--form
						.product_page__reviews--form--title Оставить отзыв
						.product_page__reviews--form--reg <a>Войти</a> или <a>зарегистрироваться</a>, чтобы оставить отзыв о товаре.

	section.ready_design
		.container 
			h2 Готовые решения для вашего интерьера
			p Как принято считать, базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения.
			.swiper.ready_block
				.swiper-wrapper
					a.swiper-slide.ready_item
						img(src="img/ready_01.jpg", alt="minimal")
						p Ванная в стиле minimal – коллекция Axima  Stone
					a.swiper-slide.ready_item
						img(src="img/ready_02.jpg", alt="minimal")
						p Ванная в стиле minimal – коллекция Axima  Stone
					a.swiper-slide.ready_item
						img(src="img/ready_03.jpg", alt="minimal")
						p Ванная в стиле minimal – коллекция Axima  Stone
			.ready_design_last
				.order_my_design.modal_button(data-modal="my-design") Заказать свой проект
				a.all_ready_design(href="") Все готовые решения
					.white_arrow_red_circle(style="background-image: url('img/white_arrow.svg');")

	section.hit_sales
		.container
			.hit_sales_title
				h2 Похожие товары
				a.all_ready_design.all_ready_design_desc(href="") Все хиты продаж
					.white_arrow_red_circle(style="background-image: url('img/white_arrow.svg');")
			//- .hit_sales_tabs
			//- 	.hit_sales_tabs_item(data_tab_sales="Плитка")
			//- 		img(src="img/tab_icon_01.svg", alt="Плитка")
			//- 		span Плитка
			//- 	.hit_sales_tabs_item(data_tab_sales="Керамогранит") 
			//- 		img(src="img/tab_icon_02.svg", alt="Керамогранит")
			//- 		span Керамогранит
			//- 	.hit_sales_tabs_item(data_tab_sales="Сантехника") 
			//- 		img(src="img/tab_icon_03.svg", alt="Сантехника")
			//- 		span Сантехника
			//- 	.hit_sales_tabs_item(data_tab_sales="Сухие смеси") 
			//- 		img(src="img/tab_icon_04.svg", alt="Сухие смеси")
			//- 		span Сухие&nbsp;смеси
			.swiper.hit_sales_tab(data_tab_sales="")
				.swiper-wrapper
					.swiper-slide.hit_sales_slide
						a.product-card(href="#")
							.product-card-image_slider(data_tab_sales="")
								.tabs_images_block
										img.product-card__image(src="img/product_01.png", alt='title')
										img.product-card__image(src="img/product_02.png", alt='')
										img.product-card__image(src="img/product_03.png", alt='')
										img.product-card__image(src="img/product_04.png", alt='')
										.product-card_hover_tabs
							
								span.product-card__badge Хит продаж
							.product-card__info
								span.product-card__art 56967
								.product-card__title(href="#") Керамогранит Barcelona светло-серая 600×600
								.product-card__stock В наличии:
								span 150 шт./150 м²
								.product-card__price
									span.product-card__price-current 1 723 ₽/м²
										span.product-card__price-old 2 150 ₽/м²
								.product-card__price.wholesale_price
									span.product-card__price-current 1 523 ₽/м²
										span.product-card__price-old 1 723 ₽/м²
										span.product-card__discount -20%
							.product-card__bottom-block
								.product-card__red_button.red_button(data-incart="") В корзину
								.product-card__compare_button(data-compare="")
									img(src="./img/icons/line_desc.svg", alt="")
								.product-card__like_button(data-like="")
									img(src="./img/icons/heart_desc.svg", alt="")
			a.all_ready_design.all_ready_design_mob(href="") Все хиты продаж
				.white_arrow_red_circle(style="background-image: url('img/white_arrow.svg');")