footer.footer
	.footer__form-block
		.container.form-block__container
			.footer__form-block_left
				p Узнавайте первыми об акциях и скидках
				img(src="img/gramofon.png", alt="грамофон")
			form(method="post")
				.politic_block
					input( name="email" autocomplete="email" type="text" placeholder="E-mail")
					.check_politic
						input(type="checkbox" id="politic" name="politic")
						label(for="politic")
						a(href="")  Я даю согласие на обработку своих персональных данных
				button Подписаться
	.footer__main-block
		.container.footer__list
			a(href="").footer__mobile_logo
				img(src='img/logo_desc.png')
			ul.footer__list_first
				ul
					li 	
						a(href="").footer__desc_logo
							img(src='img/logo_desc.png')
					li 
						a(href="tel:+78002500208").footer_phone 8 800 250 02 08 
					li 
						a(href="site@slavdvor.shop") site@slavdvor.shop 
				.red_button.modal_button.footer_button(data-modal="get-callback") Заказать звонок
			ul 
				li
					a(href="").bold Каталог
				li 
					a(href="") Керамическая плитка
				li 
					a(href="") Керамогранит
				li 
					a(href="") Сантехника
				li 
					a(href="") Сухие смеси
			ul 
				li
					img.nav_img(src='img/icons/ready_prublms.svg')
					a(href="") Готовые решения
				li 
					img.nav_img(src='img/icons/sale_tiket_black.svg')
					a(href="") Акции

				li 
					a(href="").bold Сотрудничество
				li 
					a(href="") Партерам
				li 
					a(href="") Доставка и оплата
			ul
				li
					a(href="").bold О нас
				li 
					a(href="") О компании
				li 
					a(href="") Блог
				li 
					a(href="") Вакансии
				li 
					a(href="") Контакты и реквизиты
	.footer__bottom_block
		.container
			ul
				li 
					a(href="") © Славянский Дворъ 2025
				li 
					a(href="") Политика конфиденциальности
			.developer
				span Сделано в
				a(href="")
					img(src="img/icons/labsales.svg", alt="labsales")

		