.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	justify-content: center;
	align-items: center;
  }
  .modal.active {
	display: flex;
  }
  .modal_content {
	background: #fff;
	padding: 20px;
	padding: 40px;
	border-radius: 8px;
	max-width: 800px;
	width: 90%;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .modal_close {
	position: absolute;
    top: 20px;
    right: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .modal_close::before {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #8A8A8A;
	position: absolute;
	transform: rotate(45deg);
  }
  .modal_close::after {
	content: "";
    width: 100%;
    height: 2px;
    background-color: #8A8A8A;
    position: absolute;
    transform: rotate(135deg);
  }
.modal_call {
	text-decoration: none;
	cursor: pointer;
  }
.modal_call:hover {
	text-decoration: underline;
  }
.modal_city_title {
	margin-bottom: 30px;
}
.city-list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
  }
.city-list li { 
	cursor: pointer;
}
.search_city {
	width: 100%;
	margin-bottom: 30px;
  }
input.search_city:focus,
input.search_city:focus-visible {
  outline: none; 
  border: 1px solid #E2DDD9 !important; 
  box-shadow: 0 0 5px rgba(226, 221, 217, 0.5); 
}